html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

#main {
    min-width: 230px;
    max-width: 550px;
    /*height: 100vh;*/
    margin: 0 auto;
    height: 100vh;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.bottom_tabs {
    border-top: 2px solid #c6c9d7;
    background-color: #eff6ff;
    position: absolute;
    height: 50px; left: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 2px;

    box-shadow: 0px -4px 6px #00000056;

    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.bottom_tabs a {
    font-size: 34px;
    text-decoration: none;
    width: 50px;
    text-align: center;

    border-radius: 12px;
    background: linear-gradient(145deg, #ffffff, #d7dde6);
    /*box-shadow:  5px 5px 7px #c9cfd6,
                -5px -5px 7px #ffffff;*/
}

.bottom_tabs a.active {
    font-size: 34px;
    background-color: #b4c3da;
    text-decoration: none;
    border-radius: 9px;
    border-radius: 12px;
    /*background: #b4c3da;*/
    box-shadow: inset 5px 5px 7px #a5afbe,
            inset -5px -5px 7px #e5f1ff;

}

.bottom_tabs a span {
    /*text-shadow: 2px 0px 0px #FFF, -2px 0px 0px #FFF, 0px 2px 0px #FFF, 0px -2px 0px #FFF;*/
    filter: brightness(0.7);
    opacity: 0.7;
    position: relative;
    top: -1px;
}

.bottom_tabs a.active span {
    filter:none;
    /*text-shadow: 2px 0px 0px #2c00ff, -2px 0px 0px #f00, 0px 2px 0px #09f, 0px -2px 0px #00ffab;*/
    text-shadow: 2px 0px 1px #FFF, -2px 0px 1px #FFF, 0px 2px 1px #FFF, 0px -2px 1px #FFF;
    opacity: 1;
    position: relative;
    top: 1px;
}

.wg_app_background {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 50px;
    background-size: cover;
    overflow-y: scroll;
}

.wg_header {
    background-size: cover;
    height: 200px;
    background-image: url("https://wg-api.kartonrad.de/uploads/2.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

/* SUPERCLASS OF SORTS - avatar */
.wg_avatar, .user_avatar {
    width: 90px;
    height: 90px;
    position: absolute;
    border: 4px solid white;
    border-radius: 111111px;
    z-index: 10;
    filter: drop-shadow(0 0 0.75rem #0000009c);
    background-position: center center;
    background-size: cover;
}

.wg_avatar {
    bottom: -20px;
    left: 0;
}

.user_avatar {
    width: 65px;
    height: 65px;
    border: none;
    left: -20px;
    top: 5px;
}
/* End wg / user avatars  */

/* SUPERCLASS OF SORTS - transparent glass */
.wg_body, .user_card {
    backdrop-filter: blur(10px) brightness(1.3);
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(174, 174, 174, 0.77);

    border-radius: 30px;
    padding: 4px;
    filter: drop-shadow(0 0 0.75rem #00000082);
    margin-bottom: 1em;
}

.wg_body {
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.user_card {
    backdrop-filter: blur(7px);
    margin-left: 20px;
    padding-left: 50px;
    margin-bottom: 1em;
    border-width: 1px;
}
.user_card h2 {
    margin-bottom: -1px;
    margin-top: 6px;
}
.user_card h4 {
    margin-top: 0px; 
    margin-bottom: 15px;
    font-weight: normal;
    font-style: italic;
    color: rgb(55, 55, 55);
}
/* End usercard / wgbody  */

.scroll_container {
    padding: 10px;
}